<a href="https://colab.research.google.com/github/soumya0422/fds/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Pandas program to create a dataframe from a dictionary and display it.
import pandas as pd
data={
    "X":[78,85,96,80,86],
    "Y":[84,94,89,83,86],
    "z":[86,97,96,72,83]
}
df=pd.DataFrame(data);
print(df);

    X   Y   z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [1]:
#Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
import pandas as pd
import numpy as np
exam_data={
    "attempts":[1,3,2,3,2,3,1,1,2,1],
    "name":["Anastasia","Dima","Katherine","James","Emily","michael","Mathew","Laura","Kevin","Jonas"],
    "qualify":["yes","no","yes","no","no","yes","yes","no","no","yes"],
    "score":[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19]
}
df=pd.DataFrame(exam_data,index=["a",'b','c','d','e','f','g','h','i','j']);
print(df);

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  Katherine     yes   16.5
d         3      James      no    NaN
e         2      Emily      no    9.0
f         3    michael     yes   20.0
g         1     Mathew     yes   14.5
h         1      Laura      no    NaN
i         2      Kevin      no    8.0
j         1      Jonas     yes   19.0

In [2]:
#Pandas program to get the first 3 rows of a given DataFrame.
import pandas as pd
import numpy as np
exam_data={
    "attempts":[1,3,2,3,2,3,1,1,2,1],
    "name":["Anastasia","Dima","Katherine","James","Emily","michael","Mathew","Laura","Kevin","Jonas"],
    "qualify":["yes","no","yes","no","no","yes","yes","no","no","yes"],
    "score":[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19]
}
df=pd.DataFrame(exam_data,index=["a",'b','c','d','e','f','g','h','i','j']);
print(df.iloc[:3]);

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  Katherine     yes   16.5

In [6]:
#Pandas program to select the 'name' and 'score' columns from the following DataFrame.
import pandas as pd
import numpy as np
exam_data={
    "attempts":[1,3,2,3,2,3,1,1,2,1],
    "name":["Anastasia","Dima","Katherine","James","Emily","michael","Mathew","Laura","Kevin","Jonas"],
    "qualify":["yes","no","yes","no","no","yes","yes","no","no","yes"],
    "score":[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19]
}
df=pd.DataFrame(exam_data,index=["a",'b','c','d','e','f','g','h','i','j']);
print("Selected specific columns:")
print(df[["name","score"]]);

Selected specific columns:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    michael   20.0
g     Mathew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [ ]:
#Pandas program to select the rows where the number of attempts in the examination is greater than 2.
import pandas as pd
import numpy as np
exam_data={
    "attempts":[1,3,2,3,2,3,1,1,2,1],
    "name":["Anastasia","Dima","Katherine","James","Emily","michael","Mathew","Laura","Kevin","Jonas"],
    "qualify":["yes","no","yes","no","no","yes","yes","no","no","yes"],
    "score":[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19]
}
df=pd.DataFrame(exam_data,index=["a",'b','c','d','e','f','g','h','i','j']);
print(df[df["attempts"]>2]);

   attempts     name qualify  score
b         3     Dima      no    9.0
d         3    James      no    NaN
f         3  michael     yes   20.0

In [3]:
#Pandas program to select the rows where the score is missing, i.e. is NaN.
import pandas as pd
import numpy as np
exam_data={
    "attempts":[1,3,2,3,2,3,1,1,2,1],
    "name":["Anastasia","Dima","Katherine","James","Emily","michael","Mathew","Laura","Kevin","Jonas"],
    "qualify":["yes","no","yes","no","no","yes","yes","no","no","yes"],
    "score":[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19]
}
df=pd.DataFrame(exam_data,index=["a",'b','c','d','e','f','g','h','i','j']);
print(df[df['score'].isnull()]);

   attempts   name qualify  score
d         3  James      no    NaN
h         1  Laura      no    NaN

In [ ]:
#Pandas program to calculate the mean of all students 'scores'. Data is stored in a dataframe.
import pandas as pd
import numpy as np
exam_data={
    "attempts":[1,3,2,3,2,3,1,1,2,1],
    "name":["Anastasia","Dima","Katherine","James","Emily","michael","Mathew","Laura","Kevin","Jonas"],
    "qualify":["yes","no","yes","no","no","yes","yes","no","no","yes"],
    "score":[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19]
}
df=pd.DataFrame(exam_data,index=["a",'b','c','d','e','f','g','h','i','j']);
print("Mean of the score is:");
print(df['score'].mean());

Mean of the score is:
13.5625

In [5]:
#Pandas program to append rows to an existing DataFrame and display the combined data.
import pandas as pd
data1={
    "student_id":["S4","S5","S6","S7","S8"],
    "name":["Danniela Fenton","Ryder Storey","Bryce Jansen","Ed Bernal","Kwame Morin"],
    "marks":[200,210,190,222,199]
}
data2={
    "student_id":["S1","S2","S3","S4","S5"],
    "name":["Scarlette Fisher","Carla Wiiliamson","Dante Morse","Kaiser Wiiliam","Madeeha Preston"],
    "marks":[201,200,198,219,201]
}
df1=pd.DataFrame(data1);
df2=pd.DataFrame(data2);
cdf=pd.concat([df1,df2],ignore_index=True);
print("Oringinal dataframe");
print(df1);
print("-----------------------------------");
print(df2);
print("After Concatenation:");
print(cdf);

Oringinal dataframe
  student_id             name  marks
0         S4  Danniela Fenton    200
1         S5     Ryder Storey    210
2         S6     Bryce Jansen    190
3         S7        Ed Bernal    222
4         S8      Kwame Morin    199
-----------------------------------
  student_id              name  marks
0         S1  Scarlette Fisher    201
1         S2  Carla Wiiliamson    200
2         S3       Dante Morse    198
3         S4    Kaiser Wiiliam    219
4         S5   Madeeha Preston    201
After Concatenation:
  student_id              name  marks
0         S4   Danniela Fenton    200
1         S5      Ryder Storey    210
2         S6      Bryce Jansen    190
3         S7         Ed Bernal    222
4         S8       Kwame Morin    199
5         S1  Scarlette Fisher    201
6         S2  Carla Wiiliamson    200
7         S3       Dante Morse    198
8         S4    Kaiser Wiiliam    219
9         S5   Madeeha Preston    201

In [ ]:
#Pandas program to join the two given dataframes along columns
and assign all data
import pandas as pd
data1={
    "student_id":["S4","S5","S6","S7","S8"],
    "name":["Danniela Fenton","Ryder Storey","Bryce Jansen","Ed Bernal","Kwame Morin"],
    "marks":[200,210,190,222,199]
}
data2={
    "student_id":["S1","S2","S3","S4","S5"],
    "name":["Scarlette Fisher","Carla Wiiliamson","Dante Morse","Kaiser Wiiliam","Madeeha Preston"],
    "marks":[201,200,198,219,201]
}
df1=pd.DataFrame(data1);
df2=pd.DataFrame(data2);
print("Oringinal dataframe");
print(df1);
print("-----------------------------------");
print(df2);
print("After Concatenation:");
rdf=pd.concat([df1,df2],axis=1);
print(rdf);

Oringinal dataframe
  student_id             name  marks
0         S4  Danniela Fenton    200
1         S5     Ryder Storey    210
2         S6     Bryce Jansen    190
3         S7        Ed Bernal    222
4         S8      Kwame Morin    199
-----------------------------------
  student_id              name  marks
0         S1  Scarlette Fisher    201
1         S2  Carla Wiiliamson    200
2         S3       Dante Morse    198
3         S4    Kaiser Wiiliam    219
4         S5   Madeeha Preston    201
After Concatenation:
  student_id             name  marks student_id              name  marks
0         S4  Danniela Fenton    200         S1  Scarlette Fisher    201
1         S5     Ryder Storey    210         S2  Carla Wiiliamson    200
2         S6     Bryce Jansen    190         S3       Dante Morse    198
3         S7        Ed Bernal    222         S4    Kaiser Wiiliam    219
4         S8      Kwame Morin    199         S5   Madeeha Preston    201

In [4]:
#Pandas program to append rows to an existing DataFrame and display the combined data.
import pandas as pd
student_data1 = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
}
df = pd.DataFrame(student_data1)
new_row = pd.Series({'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 205})
df = df._append(new_row, ignore_index=True)
print("Combined DataFrame:")
print(df)

Combined DataFrame:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

In [7]:
#Pandas program to display the dimensions or shape of the World alcohol consumption dataset. Also extract the column names from the dataset.
import pandas as pd
data = {
    'Year': [1986, 1986, 1985, 1986, 1987],
    'WHO region': ['Western Pacific', 'Americas', 'Africa', 'Americas', 'Americas'],
    'Country': ['Viet Nam', 'Uruguay', "Cte d'Ivoire", 'Colombia', 'Saint Kitts and Nevis'],
    'Beverage Types': ['Wine', 'Other', 'Wine', 'Beer', 'Beer'],
    'Display Value': [0.00, 0.50, 1.62, 4.27, 1.98]
}
df = pd.DataFrame(data)
dataset_shape = df.shape
column_names = df.columns.tolist()
print("Dimensions or shape of the dataset:", dataset_shape)
print("Column names of the dataset:", column_names)

Dimensions or shape of the dataset: (5, 5)
Column names of the dataset: ['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value']